# Python
.venv/
venv/
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db


downloads/
vector_db/

.venv/
downloads/
vector_db/
.env
__pycache__/